body {
  background-color: mintcream;
  justify-content: center;
}
.name {
  font-size: 75px;
  font-family: Ysabeau SC, serif;
  text-align: center;
  color: darkslategrey;
  text-shadow: 4px 4px 8px #004141;
  margin: auto auto -2px auto;
}

.navigation-container {
  display: flex;
  position: relative;
  justify-content: space-evenly;
  object-fit: contain;
  margin: 5px 20%;
  align-items: center;
  border: 3px double #cef0df;
  border-radius: 10px;
}

body h2 {
  font-size: 45px;
  font-family: Raleway;
  font-weight: 200;
  font-variant: small-caps;
  font-stretch: ultra-expanded;
  text-align: center;
  color: darkslategrey;
  text-shadow: 1px 1px 3px #004141;
  margin: auto auto 6px auto;
}

.nav-font {
  left: 20px;
  font-family: Quicksand;
  text-align: center;
  font-size: 20px;
  padding: 9.5%;
}

.self-photo {
  padding: 1% 1% 1% 0px;
  justify-content: center;
  align-items: center;
}

.img-self {
  border-radius: 10px;
}

.about-me-container {
  display: flex;
  position: relative;
  margin: 6% auto;
  justify-content: center;
}

.about-me-text {
  font-family: Quicksand;
  text-align: center;
  font-size: 18px;
  color: darkslategrey;
  margin: 0px 5% 0px 5%;
}

.contact-container {
  display: flex;
  position: relative;
  margin: 0px 28%;
  justify-content: center;
  text-align: center;
  border: 3px double #cef0df;
  border-radius: 10px;
  padding: 15px 0px;
}

.contact-table {
  font-family: Quicksand;
  text-align: space-evenly;
  color: darkslategrey;
  text-align: center;
  margin-left: 30px;
}

.th-source {
  text-align: left;
}

.th-contact {
  text-align: right;
}

.application-container {
  display: flex;
  flex-flow: row nowrap;
  position: relative;
  margin-top: 45px;
  justify-content: space-evenly;
}

.psg,
.cc {
  display: flex;
  flex-direction: row;
  padding: 10px;
  border: 3px double #cef0df;
  border-radius: 10px;
}

.img-psg,
.img-cc {
  border-radius: 10px;
}

.contact-container:hover,
.psg:hover,
.cc:hover {
  box-shadow: 3px 3px 3px 3px #004141;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

a:link,
a:visited,
tr-email:link,
tr-emal:visited,
tr-github:link,
tr-github:visited {
  color: darkslategrey;
  text-decoration: none;
}

a:hover {
  color: #004141;
  font-weight: bolder;
}

.email-link:hover,
.github-link:hover {
  color: #cef0df;
  font-weight: bolder;
}

a:active,
tr-email:active,
tr-github:active {
  color: #cef0df;
  font-weight: bolder;
}

footer {
  display: flex;
  position: relative;
  justify-content: center;
  font-family: Quicksand;
  font-size: 14px;
  font-weight: bolder;
  text-align: center;
  color: darkslategrey;
  margin: 30px 30px;
}
@media screen and (max-width: 992px) {
  .navigation-container {
    display: flex;
    position: relative;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    object-fit: contain;
    margin: 0px 8%;
    align-items: center;
    border: 3px double #cef0df;
    border-radius: 10px;
}

.contact-container {
  display: flex;
  position: relative;
  margin: 0px 8%;
  justify-content: center;
  text-align: center;
  border: 3px double #cef0df;
  border-radius: 10px;
  padding: 15px 0px;
}

.img-psg,
.img-cc {
  border-radius: 10px;
  height: auto;
  width: 40vw;
  object-fit: contain;
}